.cache/**
!.cache/.gitkeep
.DS_Store
.git
.idea/
.secure/**
!.secure/.gitkeep
.vscode
!.vscode/tasks.js
docker_volumes
tmp/**
!tmp/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# Node
.eslintcache
.npm
coverage
coverageReport.json
node_modules/
report.*.json

# Terraform
.terraform
*.terraform*
*.tfstate*
*.tfvars
*terraform.lock.hcl
!.terraform-version
!.terraform.lock.hcl
main.tf

# Helm
terraform/workspaces/paragon/charts
!terraform/workspaces/paragon/charts/.gitkeep

*.tfvars
*.tfstate
